Plug 'preservim/nerdtree'

let mapleader=" "

imap jk <Esc>
vmap p "_dP

set scrolloff=5

" Do incremental searching.
set incsearch
set relativenumber
set number
set clipboard=unnamedplus

" Don't use Ex mode, use Q for formatting.
map Q gq

" Terminal
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>

"Window Navigation
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <TAB> :action NextTab<CR>
nnoremap <s-TAB> :action PreviousTab<CR>
nnoremap <Leader>qa :action CloseAllEditors<CR>

"Git
nnoremap <leader>git :action ActivateVersionControlToolWindow<CR>
nnoremap <leader>gc :action CheckinProject<CR>
nnoremap <leader>gp :action Vcs.Push<CR>
nnoremap <leader>ga :action Annotate<CR>
nnoremap <leader>gb :action Git.Branches<CR>
nnoremap <leader>ges :action EditSource<CR>
nnoremap <leader>gr :action Git.ResolveConflicts<CR>
nnoremap <leader>grc :action Git.Rebase.Continue<CR>
nnoremap <leader>gdb :action Git.CompareWithBranch<CR>
nnoremap <leader>gdr :action Compare.Selected<CR>
nnoremap <leader>gdf :action Diff.ShowDiff<CR>

"Copilot
nnoremap <leader>cc :action ActivateGitHubCopilotChatToolWindow<CR>


"NERDTree
map <leader>e :NERDTree<CR>
let NERDTreeQuitOnOpen=1

"Searching And code Navigation
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>
nnoremap <leader>fgg :action FindInPath<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>a :action GotoAction<CR>
nnoremap <leader>u :action FindUsages<CR>
nnoremap <c-s> :action FileStructurePopup<CR>
nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>
nnoremap <s-k> :action QuickJavaDoc<CR>
nnoremap <leader>k :action QuickImplementations<CR>

"Editing Cod
nnoremap gcc :action CommentByLineComment<CR>
vnoremap gcc :action CommentByLineComment<CR>
vnoremap gcb :action CommentByBlockComment<CR>
vnoremap < <gv
vnoremap > >gv

vmap K :action MoveStatementUp<CR>
vmap J :action MoveStatementDown<CR>


nmap <C-d> <C-d>zz
nmap <C-u> <C-u>zz
nmap n nzzzv
nmap N Nzzzv
nnoremap <leader>s viw:action Replace<CR>


nnoremap q :action HideActiveWindow<CR>

" Find more examples here: https://jb.gg/share-ideavimrc
